# Eclipse
.classpath
.project
.settings/
.metadata/

# Android
android/bin/
android/gen/
android/project.properties

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Windows

# Linux
